/*you shouldn't need to change this background, as they are handled in .sidenav and .main*/
body {
  background: #1c1c1c;
  color: #777;
}
/*left navbar*/
.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
/*navbar link styling*/
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
/*hovering a link in navbar*/
.sidenav a:hover {
  color: #ffa9f2;
}
/*make navbar lines cuter*/
.sidenav hr {
  color: #fdfdfd;
  width: 80%;
  margin: 2px;
}
/*right side panel (where all the "stuff" is)*/
.main {
  margin-left: 20%; /* same width as sidenav */
  background-color: #1c1c1c;
} 
/*make links a conistent color*/
.main a:link,
.main a:visited,
.main a:active {
  color: #bbb;
}
/*links on hover*/
.main a:hover {
  color: #ffa9f2;
}
/*size the images for maps, profile pics, etc.*/
img {
  max-height: 200px;
  max-width: 600px;
}
/*header text formatting, like map name on map page, player name on player page, etc.*/
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 2em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #777;
}
/*not sure h2 and h3 are used anywhere, and you can't make me check c:<*/
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.3em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #777;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: #777;
}
/*forms*/
input, select {
  max-width: 80%;
  border: 1px solid #999;
  font-size: 1em;
  color: #ddd;
  background-color: #222;
  border-radius: 0px;
}
/*table size*/
table {
  min-width: 70%;
  max-width: 90%;
  margin-bottom: 20px;
  outline-color: #bb00bb;
}
/*make table header info align <-*/
th {
  text-align: left;
}
/*highlight row when you hover over it, now with no JS! silly shavit c:*/
table tr:hover td {
  background: #111;
  background-color: #111;
}
/*steam logo sizing next to player name in tables*/
table tr td img {
	max-height:20px;
}
/*more table stuff, prob don't need to touch*/
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
